* {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0;
}
body {
  padding: 10px;
}
header {
  text-align: center;
  padding: 10px 0px;
}
main {
  background-color: #7ff092;
  padding: 10px;
  max-width: 600px;
  margin: 15px auto;
  border-radius: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  display: block;
  padding: 10px 35px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 5px 0px;
}

h2,
p {
  text-align: center;
  margin: 10px 0px;
}
ul,
h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
form p {
  font-style: italic;
  font-weight: 700;
}
.p {
  padding: 0px 40px;
}
.num {
  text-align: left;
}
.ft {
  margin: 15px 0px;
}
input[type="submit"],
input[type="reset"] {
  padding: 10px 15px;
  outline: none;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #7ff092;
  border: 1px solid white;
}
input[type="reset"]:hover {
  background-color: red;
  color: white;
}
